<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2 id="edit-post">
        Edit Post
    </h2>
    <form id="edit-post-form">
        <div>
            <h2 class="">Title</h2>
            <input class="form-input" name="post-title" type="text" value="{{post.title}}" />
            <h2>Content</h2>
            <input class="form-input" name="post-text" type="text" value="{{post.post_text}}" />
        </div>
        <div class="task-list">
            by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button class="btn" type="submit">Save post</button>
        <button id="delete-post-btn" type="click" class="btn">Delete post</button>
    </form>
</article>

<h2>Comment</h2>
<form class="comment-form">
    <div>
        <input class="form-input" name="comment-body"></input>
    </div>

    <div>
        <button class="btn" type="submit">add comment</button>
        {{> comments post.comments}}
    </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>